In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2022-02-26 03:45:59,59.7035,30.7861,34.39,90,100,11.10
1,1,Hermanus,ZA,2022-02-26 03:43:33,-34.4187,19.2345,65.89,92,0,7.94
2,2,Pevek,RU,2022-02-26 03:45:59,69.7008,170.3133,-3.21,94,100,1.88
3,3,Vetapalem,IN,2022-02-26 03:46:00,15.7833,80.3167,80.46,55,11,7.61
4,4,Qasigiannguit,GL,2022-02-26 03:46:00,68.8193,-51.1922,1.65,98,100,6.15

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Module 6.5.2

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Module 6.5.2

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
print(city_data_df)

     City_ID           City Country                 Date      Lat       Lng  \
0          0     Nikolskoye      RU  2022-02-26 03:45:59  59.7035   30.7861
1          1       Hermanus      ZA  2022-02-26 03:43:33 -34.4187   19.2345
2          2          Pevek      RU  2022-02-26 03:45:59  69.7008  170.3133
3          3      Vetapalem      IN  2022-02-26 03:46:00  15.7833   80.3167
4          4  Qasigiannguit      GL  2022-02-26 03:46:00  68.8193  -51.1922
..       ...            ...     ...                  ...      ...       ...
553      553           Axim      GH  2022-02-26 03:48:44   4.8699   -2.2405
554      554          Nuqui      CO  2022-02-26 03:48:44   5.7125  -77.2708
555      555        Tortosa      ES  2022-02-26 03:48:45  40.8125    0.5216
556      556      Roebourne      AU  2022-02-26 03:48:45 -20.7833  117.1333
557      557    Juan Lacaze      UY  2022-02-26 03:48:45 -34.4342  -57.4381

     Max Temp  Humidity  Cloudiness  Wind Speed
0       34.39        90         100       11.10
1       65.89        92           0        7.94
2       -3.21        94         100        1.88
3       80.46        55          11        7.61
4        1.65        98         100        6.15
..        ...       ...         ...         ...
553     78.35        93           8        4.05
554     76.66        88         100        2.75
555     52.95        61           6        5.39
556     97.86        43           6       14.41
557     69.12        51           0       12.57

[558 rows x 10 columns]

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Module 6.5.3

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Vetapalem,IN,2022-02-26 03:46:00,15.7833,80.3167,80.46,55,11,7.61
6,6,Kapaa,US,2022-02-26 03:46:01,22.0752,-159.3190,78.78,72,100,9.22
11,11,Hobart,AU,2022-02-26 03:42:55,-42.8794,147.3294,75.02,60,75,11.50
14,14,Amboasary,MG,2022-02-26 03:46:03,-25.0333,46.3833,75.04,82,100,2.68
18,18,Arraial Do Cabo,BR,2022-02-26 03:46:04,-22.9661,-42.0278,75.40,86,10,7.09
23,23,Rikitea,PF,2022-02-26 03:41:47,-23.1203,-134.9692,80.08,69,6,8.77
30,30,Raglan,NZ,2022-02-26 03:46:08,-37.8000,174.8833,81.09,55,1,9.57
31,31,Butaritari,KI,2022-02-26 03:46:08,3.0707,172.7902,82.02,77,21,17.81
35,35,San Ramon De La Nueva Oran,AR,2022-02-26 03:46:09,-23.1322,-64.3260,82.42,81,99,1.48
37,37,Carnarvon,AU,2022-02-26 03:46:10,-24.8667,113.6333,82.47,65,30,24.16

In [23]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [24]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [26]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [27]:
# If you have some rows with null values, 
# you'll need to drop them using the dropna() method at the end of your filtering 
# statement when you are creating the new DataFrame.

In [28]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Vetapalem,IN,2022-02-26 03:46:00,15.7833,80.3167,80.46,55,11,7.61
6,6,Kapaa,US,2022-02-26 03:46:01,22.0752,-159.3190,78.78,72,100,9.22
11,11,Hobart,AU,2022-02-26 03:42:55,-42.8794,147.3294,75.02,60,75,11.50
14,14,Amboasary,MG,2022-02-26 03:46:03,-25.0333,46.3833,75.04,82,100,2.68
18,18,Arraial Do Cabo,BR,2022-02-26 03:46:04,-22.9661,-42.0278,75.40,86,10,7.09
...,...,...,...,...,...,...,...,...,...,...
539,539,Port Harcourt,NG,2022-02-26 03:48:39,4.7774,7.0134,78.60,87,36,2.95
546,546,Siocon,PH,2022-02-26 03:48:42,7.7061,122.1353,85.98,65,73,13.00
548,548,Daru,PG,2022-02-26 03:48:42,-9.0763,143.2092,85.60,64,96,9.17
553,553,Axim,GH,2022-02-26 03:48:44,4.8699,-2.2405,78.35,93,8,4.05
554,554,Nuqui,CO,2022-02-26 03:48:44,5.7125,-77.2708,76.66,88,100,2.75

In [ ]:
# Module 6.5.4

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                          City Country  Max Temp      Lat       Lng Hotel Name
3                    Vetapalem      IN     80.46  15.7833   80.3167
6                        Kapaa      US     78.78  22.0752 -159.3190
11                      Hobart      AU     75.02 -42.8794  147.3294
14                   Amboasary      MG     75.04 -25.0333   46.3833
18             Arraial Do Cabo      BR     75.40 -22.9661  -42.0278
23                     Rikitea      PF     80.08 -23.1203 -134.9692
30                      Raglan      NZ     81.09 -37.8000  174.8833
31                  Butaritari      KI     82.02   3.0707  172.7902
35  San Ramon De La Nueva Oran      AR     82.42 -23.1322  -64.3260
37                   Carnarvon      AU     82.47 -24.8667  113.6333

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [31]:
hotel_df.head()

               City Country  Max Temp      Lat       Lng     Hotel Name
3         Vetapalem      IN     80.46  15.7833   80.3167        Chirala
6             Kapaa      US     78.78  22.0752 -159.3190         Kapaʻa
11           Hobart      AU     75.02 -42.8794  147.3294         Hobart
14        Amboasary      MG     75.04 -25.0333   46.3833  Amboasary Sud
18  Arraial Do Cabo      BR     75.40 -22.9661  -42.0278      Cabo Frio

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))